# IS362 - Assignment 7

Choose six recent popular movies. Ask at least five people that you know (friends, family, classmates,
imaginary friends) to rate each of these movies that they have seen on a scale of 1 to 5. There should be
at least one movie that not everyone has seen!
Take the results (observations) and store them somewhere (like a SQL database, or a .CSV file). Load the
information into a pandas dataframe. Your solution should include Python and pandas code that
accomplishes the following:
1. Load the ratings by user information that you collected into a pandas dataframe.
2. Show the average ratings for each user and each movie.
3. Create a new pandas dataframe, with normalized ratings for each user. Again, show the average
ratings for each user and each movie.
4. Provide a text-based conclusion: explain what might be advantages and disadvantages of using
normalized ratings instead of the actual ratings.
5. [Extra credit] Create another new pandas dataframe, with standardized ratings for each user.
Once again, show the average ratings for each user and each movie.

As always, I will start by importing the modules we will use in this assignment:

In [22]:
import pandas as pd
import numpy as np

Now I will open the CSV file we will be working with:

In [24]:
movie_ratings = pd.read_csv("C:/Users/Jessica/Desktop/John's School/IS362/IS362_Assignment7/movie_ratings.csv", index_col=0)

Now let's take a look at the data:

In [25]:
movie_ratings

,Beauty and the Beast,Logan,Kong: Skull Island,Get Out,John Wick 2,The Lego Batman Movie
John,3,4.0,2.0,4.0,5.0,NaN
Jessica,4,4.0,3.0,NaN,5.0,4.0
Chris,2,3.0,NaN,NaN,NaN,NaN
Michelle,5,3.0,NaN,NaN,4.0,5.0
Sandie,5,3.0,2.0,5.0,4.0,5.0
Garrett,3,NaN,4.0,5.0,NaN,3.0

## Average Ratings By Movie

First we want to see the average rating for each movie. We can use "mean" to accomplish this:

In [26]:
average_by_movie = movie_ratings.mean()
average_by_movie

Beauty and the Beast     3.666667
Logan                    3.400000
Kong: Skull Island       2.750000
Get Out                  4.666667
John Wick 2              4.500000
The Lego Batman Movie    4.250000
dtype: float64

## Averages Ratings By Viewer

We also want to see the average rating for each viewer. (That way we can see if someone is a spoilsport who just never likes anything anyway!)

In [27]:
average_by_viewer = movie_ratings.mean(axis=1)
average_by_viewer

John        3.60
Jessica     4.00
Chris       2.50
Michelle    4.25
Sandie      4.00
Garrett     3.75
dtype: float64

## Normalized Ratings By Movie

Now we want to look at the normalized ratings by movie. This helps to account for outliers in the data.

We also want to look at the average of the normalized ratings:

In [28]:
normalized_ratings = (movie_ratings - movie_ratings.min()) / (movie_ratings.max() - movie_ratings.min())
normalized_ratings

,Beauty and the Beast,Logan,Kong: Skull Island,Get Out,John Wick 2,The Lego Batman Movie
John,0.333333,1.0,0.0,0.0,1.0,NaN
Jessica,0.666667,1.0,0.5,NaN,1.0,0.5
Chris,0.000000,0.0,NaN,NaN,NaN,NaN
Michelle,1.000000,0.0,NaN,NaN,0.0,1.0
Sandie,1.000000,0.0,0.0,1.0,0.0,1.0
Garrett,0.333333,NaN,1.0,1.0,NaN,0.0

In [29]:
average_normalized_ratings_by_movie = normalized_ratings.mean()
average_normalized_ratings_by_movie

Beauty and the Beast     0.555556
Logan                    0.400000
Kong: Skull Island       0.375000
Get Out                  0.666667
John Wick 2              0.500000
The Lego Batman Movie    0.625000
dtype: float64

## Normalized Ratings By Viewer

We also want to consider the normalized ratings by user:

In [30]:
average_normalized_by_viewer = normalized_ratings.mean(axis=1)
average_normalized_by_viewer

John        0.466667
Jessica     0.733333
Chris       0.000000
Michelle    0.500000
Sandie      0.500000
Garrett     0.583333
dtype: float64

## Standardized Ratings By Movie

In addition to looking at the normalized ratings, we want to examine the standardized ratings by movie.

In [33]:
standardized_ratings_by_movie = (movie_ratings - movie_ratings.mean()) / movie_ratings.std()
standardized_ratings_by_movie

,Beauty and the Beast,Logan,Kong: Skull Island,Get Out,John Wick 2,The Lego Batman Movie
John,-0.550482,1.095445,-0.783349,-1.154701,0.866025,NaN
Jessica,0.275241,1.095445,0.261116,NaN,0.866025,-0.261116
Chris,-1.376205,-0.730297,NaN,NaN,NaN,NaN
Michelle,1.100964,-0.730297,NaN,NaN,-0.866025,0.783349
Sandie,1.100964,-0.730297,-0.783349,0.577350,-0.866025,0.783349
Garrett,-0.550482,NaN,1.305582,0.577350,NaN,-1.305582

## Standardized Ratings By Viewer

Finally, we want to look at the standardized ratings by user.

In [34]:
standardized_ratings_by_viewer = standardized_ratings_by_movie.mean(axis=1)
standardized_ratings_by_viewer

John       -0.105412
Jessica     0.447342
Chris      -1.053251
Michelle    0.071998
Sandie      0.013665
Garrett     0.006717
dtype: float64

By looking at the data, the averages, the normalized data and its averages, and the standardized data and its averages, we are able to get a more complete look at the data that accounts for anomalies like outliers or duplicates.